<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>com.test.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/main.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>base</servlet-name>
    <servlet-class>com.test.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/base.properties</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>base</servlet-name>
    <url-pattern>/base/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>emp</servlet-name>
    <servlet-class>com.test.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/emp.properties</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>emp</servlet-name>
    <url-pattern>/emp/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>item</servlet-name>
    <servlet-class>com.test.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/item.properties</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>item</servlet-name>
    <url-pattern>/logistics/item/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>business</servlet-name>
    <servlet-class>com.test.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/business.properties</param-value>
    </init-param>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>business</servlet-name>
    <url-pattern>/logistics/business/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>product</servlet-name>
    <servlet-class>com.test.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/product.properties</param-value>
    </init-param>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>product</servlet-name>
    <url-pattern>/logistics/product/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>purchase</servlet-name>
    <servlet-class>com.test.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/purchase.properties</param-value>
    </init-param>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>purchase</servlet-name>
    <url-pattern>/logistics/purchase/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>urlmappingFile</param-name>
    <param-value>/WEB-INF/config/urlmapping.properties</param-value>
  </context-param>
  <context-param>
    <param-name>pathFile</param-name>
    <param-value>/WEB-INF/config/path.properties</param-value>
  </context-param>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>