<div class="wrapper">
    <div class="tabs cf">
      <input type="radio" name="tabs" id="tab1" checked>
      <label for="tab1">
          로그인
        </label>
      <input type="radio" name="tabs" id="tab2">
      <label for="tab2">
          회원가입
        </label>
      <input type="radio" name="tabs" id="tab3">
      <label for="tab3">
          아이디찾기
        </label>
  
      <div id="tab-content1" class="tab-content">
        <img class="img-tag" src="assets/images/iu9.gif">
        <app-login></app-login>
      </div>


      <div id="tab-content2" class="tab-content">
          <app-member-insert></app-member-insert>
      </div>

      
      <div id="tab-content3" class="tab-content">
        <app-member-list></app-member-list>

      </div>
    </div>
  
  
    <div class="other-content">
      <p>
         <br> Seoul IT 57기 강순용
      </p>
    </div>
  </div>
  
  