.img-tag {
    position: relative; 
    right:20%; 
    top:100px;
}

html, body {
  font-size: 20px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 40px;
  margin: 0;
  line-height: 1.5;
  background-color: #333;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #333;
}

h1 {
  margin-top: 0;
  line-height: 1.25;
  text-align: center;
  font-family: "Roboto Slab", Times, "Times New Roman", serif;
  color: black;
}

/* highlight colors */
::-moz-selection {
  background-color: #333;
  color: white;
}

::selection {
  background-color: #333;
  color: white;
}

/* wrapper */
.wrapper {
  max-width: 120ch;
  max-height: 50ch;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* tabs */
.tabs {
  border-right: 2px solid #ccc;
}
.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.tabs input[type=radio] {
  display: none;
}
.tabs label {
  display: block;
  float: left;
  width: 33.33333%;
  padding: 1em;
  border: 1px solid #ccc;
  border-right: none;
  background-color: #f7f7f7;
  text-align: center;
  font-weight: 700;
  color: coral;
  cursor: pointer;
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}
.tabs label:hover {
  background-color: gray;
}
.tabs [id^="tab"]:checked + label {
  border-bottom-color: white;
  background: white;
  color: #333;
}

.tab-content {
  display: none;
  float: left;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: white;
}



#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
  display: block;
}

.other-content {
  color: black;
}

@media only screen and (max-width: 768px) {
  body, html {
    font-size: 18px;
  }
}
@media only screen and (max-width: 645px) {
  .tabs label {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body, html {
    font-size: 16px;
  }
}
