<!doctype html>
<html lang="en">
<head>

</head>
<body>
    <div class="ma1">
        <marquee scrollamount=50>♥==3</marquee><br>
        <marquee scrollamount=60>♥==3</marquee><br>
        <marquee scrollamount=80>♥==3</marquee><br>
        <marquee scrollamount=30>♥==3</marquee><br>
        <marquee scrollamount=20>♥==3</marquee><br>
        <marquee scrollamount=70>♥==3</marquee><br>
    </div>
    <div class="ma2">  
        
        <marquee scrollamount=30>♥==3</marquee><br>
        <marquee scrollamount=10>♥==3</marquee><br>
        <marquee scrollamount=30>♥==3</marquee><br>
        <marquee scrollamount=60>♥==3</marquee><br>
        <marquee scrollamount=20>♥==3</marquee><br>
        <marquee scrollamount=40>♥==3</marquee><br>
    </div>
    <div class="loader-container">
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-6"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-1"></div>	
    </div>
    <div class="ma3">   
    <marquee scrollamount=40>♥==3</marquee><br>
    <marquee scrollamount=60>♥==3</marquee><br>
    <marquee scrollamount=50>♥==3</marquee><br>
    <marquee scrollamount=40>♥==3</marquee><br>
    <marquee scrollamount=60>♥==3</marquee><br>
    <marquee scrollamount=30>♥==3</marquee><br>
    <marquee scrollamount=10>♥==3</marquee><br>
</div>
<div class="ma4">   
    <marquee scrollamount=50>♥==3</marquee><br>
    <marquee scrollamount=60>♥==3</marquee><br>
    <marquee scrollamount=20>♥==3</marquee><br>
    <marquee scrollamount=30>♥==3</marquee><br>
    <marquee scrollamount=40>♥==3</marquee><br>
    </div>

</body>
</html>
